//
// Main content
//
main:not(.reset) {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;

    &.grow-last > :last-child { flex: 1 }

    //
    // Sections
    //
    > section:not(.reset) {
        display: flex;
        flex-wrap: wrap;
        &.alternate { background-color: $alternate-background-color }
        @include bp(tablet) { &.tablet-alternate { background-color: $alternate-background-color } }
        @include bp(desktop) { &.desktop-alternate { background-color: $alternate-background-color } }

        &.grow { flex: 1 }
        @include bp(tablet) { &.tablet-grow { flex: 1 } }
        @include bp(desktop) { &.desktop-grow { flex: 1 } }

        //
        // Headers
        //
        > header,
        > div > header,
        > aside > header {
            font-size: 32px;
            padding-bottom: 6px;
        }

        //
        // Section <div> tag with only one sibling
        //
        > div:only-of-type:nth-child(2):last-child,
        > div:only-of-type:nth-last-child(2):first-child {
            flex: 1;
        }

        //
        // Section <aside> tag with only one sibling
        //
        > aside:only-of-type:nth-child(2):last-child,
        > aside:only-of-type:nth-last-child(2):first-child {
            @include bp-prop(width, 100%, $sidebar-width);
            @include transition(width);
        }
    }
}
