//
// Container elements
//
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;

    .caseable { text-transform: none !important }
    *, *:before, *:after { box-sizing: inherit !important; }
}

.page, .inner {
    margin: 0 auto;
    max-width: $layout-width;

    &.padded, .padded { @include padding() }
    &.h-padded, .h-padded { @include bp-prop(padding, 0 $layout-padding-mobile, 0 $layout-padding-tablet) }
    &.v-padded, .v-padded { @include bp-prop(padding, $layout-padding-mobile 0, $layout-padding-tablet 0) }
}
