//
// Container elements
//
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;

    .caseable { text-transform: none !important }
    *, *:before, *:after { box-sizing: inherit !important; }
}

.inner {
    margin: 0 auto;
    max-width: $layout-width;

    .content, &.content {
        @include bp-prop(padding, 0 $layout-padding-mobile, 0 $layout-padding-tablet);

        header {
            align-items: center;
            display: flex;
            min-height: $header-height-mobile;
            padding: 20px 0;
            @include bp-prop(overflow, visible, hidden);

            h1 {
                height: auto;
                line-height: normal;
            }
        }
    }
}
