//
// Layout containers
//
main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $layout-width;

    //
    // All layout containers
    //
    > section, > aside {
        flex-basis: auto;
        width: 100%;

        //
        // Padded content
        //
        &.padded {
            padding: 12px;
        }
    }

    //
    // Content sections
    //
    > section {
        @include bp(tablet) {
            &.with-sidebar { width: 75% }
        }
    }

    //
    // Sidebars
    //
    > aside {
        @include bp(tablet) {
            width: 25%;
        }

        > h2 {
            margin-bottom: 12px;
        }
    }
}
