//
// Links
//
a {
    text-decoration: none;
    @include transition(color);
    &:hover { text-decoration: underline }
}

a.icon-btn {
    font-size: $unit * 2;
    display: flex;
    width: $header-height-mobile;
    height: $header-height-mobile;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @include props((height, width), $header-height-mobile);
}

//
// Text boxes
//
input, textarea {
    appearance: none !important;
    border-radius: 3px !important;
    border: 1px solid;
    border-color: #aaa;
    outline: none;
    padding: 12px;
    text-transform: lowercase;
    width: 100%;
    font-size: $font-unit;
    @include transition(border-color);

    &:focus { border-color: #222 }
    &::-ms-clear { display: none }

    @mixin placeholder() { color: #999 }
    &::-webkit-input-placeholder { @include placeholder() }
    &::-moz-placeholder { @include placeholder() }
    &:-ms-input-placeholder { @include placeholder() }
    &:-moz-placeholder { @include placeholder() }
}

input {
    @include props((height, line-height), $unit * 4);
}
