//
// Config
//
$unit: 12px;
$font-unit: $unit * 1.5;
$breakpoints: (
    tablet: 'min-width: 768px',
    desktop: 'min-width: 1024px',
);

$header-height-mobile: $unit * 6;
$header-height-tablet: $unit * 7;
$header-height-desktop: $unit * 9;

$layout-padding-mobile: $unit;
$layout-padding-tablet: $unit;
$layout-width: $unit * 100;

//
// Mixins
//
@import './mixins/bp';
@import './mixins/explode';
@import './mixins/padding';
@import './mixins/props';
@import './mixins/transition';

