//
// Config
//
$breakpoints: (
    tablet: 'min-width: 768px',
    desktop: 'min-width: 1024px',
);

$header-height-mobile: 70px;
$header-height-tablet: 85px;
$header-height-desktop: 100px;

$layout-padding-mobile: 10px;
$layout-padding-tablet: 15px;
$layout-width: 1200px;

//
// Mixins
//
@import './mixins/bp';
@import './mixins/explode';
@import './mixins/transition';

