//
// Config
//
$breakpoints: (
    phone: 'min-width: 320px',
    large-phone: 'min-width: 481px',
    tablet: 'min-width: 768px',
    desktop: 'min-width: 1024px',
);

$font-color: #333;
$alternate-background-color: #fcfcfc;

$header-height-mobile: 84px;
$header-height-tablet: 96px;
$header-height-desktop: 108px;

$layout-padding-mobile: 12px;
$layout-padding-tablet: 12px;
$layout-width: 1200px;

$sidebar-width-mobile: 100%;
$sidebar-width-tablet: 25%;

//
// Mixins
//
@import './mixins/bp';
@import './mixins/explode';
@import './mixins/padding';
@import './mixins/props';
@import './mixins/transition';
@import './mixins/valign';

